/* IMPOSTZIONI GENEREALI */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-size: 1em;
}

#root {
  position: relative;
  background-color: #D7DBD6;
  height: 100vh;
  width: 100vw;
}

.strisciaVerde {
  background-color: #009688;
  height: 20vh;
}

.pannelloChat {
  position: fixed;
  left: 10vw;
  top: 20px;
  /* background-color: grey; */
  width: 80vw;
  height: 90vh;
  display: flex;
}

.leftSide {
  width: calc(100%/3);
  height: 100%;
}

/* MY PROFILE OPTION */
.myProfile {
  width: 100%;
  height: 10%;
  background-color: #EDEDED;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profilePicture {
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.profilePicture img {
  height: 100%;
  border-radius: 50%
}
.profileMenu i {
  padding: 5px;
  color: gray;
}

/* ATTIVA NOTIFICHE DESKTOP */
#notifichePopup{
  color: black;
  text-decoration: none;
}
.notifichePopup {
  width: 100%;
  height: 15%;
  background-color: #9DE1FE;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.notifichePopup i {
  font-size: 2em;
  background-color: white;
  border-radius: 50%;
  padding: 9px 5px;
  color: #9DE1FE;
  /* margin-right: 5px; */
}
.fontSize{
  font-size: 0.8em;
}
.underGray {
  text-decoration: underline;
  color: gray;
  font-size: 0.7;
}
/* fine ATTIVA NOTIFICHE DESKTOP */

.searchBar{
  width: 100%;
  height: 10%;
  background-color: #F6F6F6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar input {
  border-radius: 20px;
  width: 96%;
  /* padding: 5px; */
  height: 50%;
  color: #929292;
  /* background-image: url("./img/searchicon.webp");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding-left: 40px; */
}

/* <!-- LISTA CONTATTI --> */
.contactList {
  width: 100%;
  height: 65%;
  background-color: white;
  color: black;
  overflow-y: scroll;
}
.contatto {
  display: flex;
  align-items: center;
}
.contatto img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 20px 25px;
}


.rightSide {
  width: calc(100%/3*2);
  /* background-color: blue; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contactProfile {
  width: 100%;
  height: 10%;
  background-color: #EDEDED;
  color: black;
  display: flex;
  align-items: center;
}
.contactProfile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* <!--  LA CHAT --> */
.chatScreen {
  width: 100%;
  height: 80%;
  background-image: url("./img/mine.jpg");
  background-size: cover;
  overflow-y: scroll;
}
.inputArea {
  width: 100%;
  height: 10%;
  background-color: #F0F0F0;
  color: #919191;
  font-size: 1.2em;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.inputArea input {
  border-radius: 20px;
  width: 80%;
  padding: 0 10px;
  height: 65%;
  color: #929292;
  font-size: 1em;
}
